



{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Market List</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class = "container">
<div class="row">
    <form action="{% url 'save_prod' %}" class="col s10 offset s2" method="post">
      {% csrf_token %}
        <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="name"></textarea>
          <label for="textarea1">Product Name</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea" name="prize"></textarea>
          <label for="textarea1">Prize</label>
        </div>
      </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="image">
            </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files" name="price">
        </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

