{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>

    <div class="row">
        {% for post in listings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image" style="height: 400px;">
                        <a href="/"><img src="{{ post.image.url }}" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>{{ post.name }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/">View listing: Price {{ post.prize }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}